///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #fff;
$masthead-small-color:   #fff;

$post-title-color:       #fff;
$post-date-color:        #fff;


$body-color:            #fff;
$body-background-color: #282a36;

$link-color:            #59acf3;

$headings-color:        #fff;    // h1,h2,h3,h4,h5,h6

$strong-color:          #eee;    // strong

$pre-background-color:  #4F6572;    // pre

$blockquote-color:        #fff;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #F4EAC6;
$table-odd-background-color: #282a36;


